player-connection-mode=Listen
player-connection-guid=1410157232
player-connection-debug=0
player-connection-project-name=AzulGUI
player-connection-ip=192.168.1.135
player-connection-ip=100.81.134.115
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=48246106c8df4141963b2b206256d5fc
