player-connection-mode=Listen
player-connection-guid=2082020134
player-connection-debug=0
player-connection-project-name=AzulGUI
player-connection-ip=192.168.1.135
player-connection-ip=100.81.134.115
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=d7ef8d1719c14ed6b4afd28cc94c8301
